@tailwind base;
@tailwind components;
@tailwind utilities;
.badge {
    padding: 0.5em 0.75em;
    font-size: 0.875em;
    border-radius: 0.25rem;
}
tbody tr:nth-child(odd) {
    background-color: #f8f9fa;
}